*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/pexels-christina-morillo-1181467.jpg);
    background-size:cover;
    background-position: center;
}

h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
p{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
form{
    width: 90%;
    margin: 20px auto;
    padding-top: 15px;
    border: solid 1px rgb(7, 32, 145);
    background-color: rgba(7, 32, 145, 0.938);
    color: white;
    padding-left: 28px;
    border-radius: 15px;
}
#nombre,#email,#edad{
    height: 34px;
    width: 95%;
    margin-top: 7px;
}

#opcional,#check{
    font-size: small;
    margin: auto;
}
.boton{
    width: 95%;
    margin: 5px auto;
    height: 40px;
    background-color: rgb(38, 255, 92);
    border-color:rgb(38, 255, 92);
    cursor: pointer;
}
#opcion,#feature{
    margin-top: 7px;
    margin-bottom: 7px;
    height: 34px;
    width: 95%;
}

.uno,.dos,.tres{
    padding-left: 14px;
    display: inline;
}
.fff{
    margin-top: 10px;
    margin-bottom: 10px;
}
#hola{
    height: 150px;
    width: 95%;
}

input,select,textarea{
    border-radius: 5px;
}